html,
body,
#bdyDiv {
	background: rgb(58, 61, 180);
	background: linear-gradient(51deg, rgba(58, 61, 180, 1) 0%, rgba(0, 207, 255, 1) 50%, rgba(254, 148, 0, 1) 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	flex-shrink: 0;
}

textarea {
	resize: none;
}

#logo {
	width: 450px;
	height: 100px;
	display: flex;
	margin: auto;
	padding-bottom: 10px;
	-webkit-filter: drop-shadow(5px 5px 8px white);
	filter: drop-shadow(5px 5px 8px white);
	-webkit-filter: drop-shadow(-6px 5px 3px white);
	filter: drop-shadow(-6px 5px 3px white);
}

#logo:hover {
	animation: shake 3.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-2px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-2px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

#div2,
#div3,
#divIP {
	width: 70%;
	border: 2px solid;
	border-color: grey;
	display: flex;
	margin: auto;
	font-family: arial;
	font-size: 18px;
	background-color: white;
	border-radius: 16px;
	box-shadow: 6px 4px 8px;
	max-width: 1000px;
}

#div1 {
	width: 70%;
	border: 2px solid;
	border-color: grey;
	display: flex;
	margin: auto;
	font-family: arial;
	font-size: 18px;
	background-color: white;
	border-radius: 16px;
	box-shadow: 6px 4px 8px;
	max-width: 1300px;
}

#div4 {
	width: 70%;
	height: 40%;
	border: 2px solid;
	border-color: grey;
	display: flex;
	margin: auto;
	font-family: arial;
	font-size: 18px;
	background-color: white;
	border-radius: 16px;
	box-shadow: 6px 4px 8px;
	max-width: 1000px;
}

#readIDsorValueDataOutput {
	height: 80px;
}

#readTagBtn,
#WriteTagBtn,
#CntBtn,
#displayIDandValueTagIDBtn {
	width: 130px;
	height: 50px;
	font-size: 20px;
	border-radius: 16px;
}

button {
	border-radius: 16px;
}

#btnDiv,
#btnDiv4 {
	padding-top: 15px;
}

#refreshIMG {
	-webkit-filter: drop-shadow(5px 5px 8px white);
	filter: drop-shadow(5px 5px 8px white);
}

#refreshIMG:hover,
#refreshIMG:active {
	animation: x 0.5s infinite;
}

@keyframes x {
	0% {
		transform: rotate(13deg);
		width: 52px;
	}
	25% {
		transform: rotate(27deg);
		width: 54px;
	}
	50% {
		transform: rotate(32deg);
		width: 56px;
	}
	75% {
		transform: rotate(25deg);
		;
		width: 54px;
	}
	100% {
		transform: rotate(5deg);
		width: 50px;
	}
}

#displayTagIDBtn {
	font-size: 15px;
	width: 230px;
	height: 50px;
	border-radius: 16px;
}

#popTagBtn {
	font-size: 15px;
	width: 150px;
	height: 70px;
	border-radius: 16px;
}

#SaveBtn {
	border-radius: 16px;
}

#WriteDatainput {
	color: orange;
	border: 5px solid;
	border-width: medium;
	border: 2px solid lightgrey;
	border-radius: 4px;
	box-shadow: 6px 4px 8px;
	width: 100px;
	height: 33px;
}

textarea,
#IPInput,
#IPOnlyInput,
#tagInput {
	border: 5px solid;
	border-width: medium;
}

button,
textarea {
	border: 2px solid lightgrey;
	border-radius: 4px;
	box-shadow: 6px 4px 8px;
}

#shwpopdisp {
	background-color: #383877;
	color: white;
	border: 2px solid lightgrey;
	border-radius: 16px;
	box-shadow: 6px 4px 8px;
}

#div3,
#div2 {
	padding-top: 10px;
	padding-bottom: 10px;
}

#navbar1 {
	border-radius: 1px 1px 40px 40px;
	max-width: 1015px;
}

@keyframes loadingAni {
	0% {
		padding-top: 155px;
		width: 10%;
		-ms-transform: rotate(20deg);
		transform: rotate(20deg);
		opacity: 0.4;
		transform: rotate(0deg);
	}
	55% {
		padding-top: 260px;
		width: 40%;
		-ms-transform: rotate(20deg);
		transform: rotate(20deg);
		hegiht: auto;
		-webkit-filter: drop-shadow(2px 1px 0 white) drop-shadow(-1px -1px 0 white);
		filter: drop-shadow(2px 1px 0 white) drop-shadow(-1px -1px 0 white);
	}
	60% {
		padding-top: 260px;
		width: 40%;
		-ms-transform: rotate(20deg);
		transform: rotate(20deg);
		hegiht: auto;
		-webkit-filter: drop-shadow(2px 1px 0 white) drop-shadow(-1px -1px 0 white);
		filter: drop-shadow(2px 1px 0 white) drop-shadow(-1px -1px 0 white);
	}
	80% {
		padding-top: 250px;
		width: 50%;
		-webkit-filter: drop-shadow(4px 2px 0 white) drop-shadow(-2px -2px 0 white);
		filter: drop-shadow(4px 2px 0 white) drop-shadow(-2px -2px 0 white);
	}
	100% {
		padding-top: 250px;
		width: 50%;
		-webkit-filter: drop-shadow(4px 2px 0 white) drop-shadow(-2px -2px 0 white);
		filter: drop-shadow(4px 2px 0 white) drop-shadow(-2px -2px 0 white);
	}
}

#readTagBtn,
#WriteTagBtn {
	background-image: linear-gradient(to right, #4f774f, #78cd78);
}

#popTagBtn {
	background-image: linear-gradient(to right, red, #ff8080);
}

#CntBtn {
	background-image: linear-gradient(to right, orange, #ffc458);
}

#displayTagIDBtn,
#shwpopdisp {
	background-image: linear-gradient(to right, #383877, #6969c9);
}

#manualLink {
	background-image: linear-gradient(to right, #fd9c9c, #ff792a);
	background-color: #383877;
	color: white;
	box-shadow: 0 5px 0 #8585ba;
	color: white;
	padding: 1.3em 1em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 30px;
	border: 2px solid white;
}

#manualLink:hover {
	background-image: linear-gradient(to right, #fd9c9c, #d17e4d);
	background-color: #383877;
	color: white;
	box-shadow: 0 5px 0 #8585ba;
	border: 2px solid white;
}

#manualLink:active {
	box-shadow: none;
	top: 5px;
	border: 2px solid white;
}

#checkerDiv {
	border-radius: 20px;
	border: 2px solid white;
	background-image: linear-gradient(to right, #c1ba24, #ff792a);
	padding: 0.3em 1em;
}

#manualLinkDiv {
	background-color: red;
}
